

.ContactFlexContainer {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

.ContactFlexItem {
    min-width: 50%;
    min-height: 50%;
}

.ContactFlexImageIcon {
    margin-left: 25vw;
    margin-top: 25vh;
    min-width: 50%;
    min-height: 50%;
}

