
/* Splits the screen in half */
.split {
  height: 92vh;
  width: 50%;
  overflow: auto;
}

/* Left Side */
.left {
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0)),
              linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0)),
              linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0));
  float: left;
  width: 50%;
}

/* Right Side */
.right {
  float: right;
  width: 50%;
}

/* Top of Right Side */
.top {
  height: 46vh;
  background: blue;
  background-image: url("../Images/Programming_Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: palegoldenrod;
}

/* bottom of Right Side */
.bottom {
  height: 46vh;
  background: cyan;
}

.middleWidth {
  position: relative;
  margin-left: 20%;
}

.centre {
  position: fixed;
  text-align: center;
  top: 30%;
  margin-left: 25vw;
  margin-right: 25vw;
  background-color: black;
  width: 50vw;
}

/* style for image */
#img {
  margin-top: 2vh;
  height: 40vh;
  width: 30vw;
}

.titleIndent {
  margin-right: 15%;
}

/* style for the text */
.texthp {
  margin-left: 5%;
}

.backgroundHome { 
  background-image: url("../Images/Programming_Background.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-family: 'Lobster', cursive;
  color: yellow;
}

/* 
  Calculating responsive text
  font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); 
*/
.largePrint {
  font-size: calc(22px + (70 - 20) * ((100vw - 300px) / (1600 - 300)));
  text-decoration: underline;
}

.finePrint {
  font-size: calc(18px + (60 - 16) * ((100vw - 300px) / (1600 - 300)));
  text-decoration: underline;
}

.quoteSquare {
  position: relative;
  text-align: center;
  top: 50%;
  margin-left: 5vw;
  margin-top: 1vw;
  background-color: black;
  width: 40vw;
}

.quoteText {
  font-family: 'Helvetica';
  color: yellow;
  font-size: calc(20px + (20 - 10) * ((100vw - 300px) / (1600 - 300)));
}